# فایل‌های موقت ویندوز
Thumbs.db
Desktop.ini

# فایل‌های لاگ و کش برنامه
*.log
*.tmp
*.bak

# پوشه‌های محیط توسعه
.vscode/
.idea/
__pycache__/

# فایل‌های بزرگ که نمی‌خوای Push شوند
*.mp4
*.zip
*.iso
